<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nex-Store</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="assets/css/style-store.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav class="navbar navbar-expand">

                <a href="account"><img src="assets/img/store/nexfit-logo.png" width="125px"></a>

                <div class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="store">home<a></li>
                    <li class="nav-item"><a class="nav-link" href="products">products<a></li>
                </div>
            </nav>

        </div>
        <div class="row">

            <div class="col-3" style="margin-top: 10%; ">
                <h1>exercise with style <br> with Nex-Fit</h1>
                <p>one of the most realible brands that you can depend on <br> shop now to feel the finest comfort </p>
                <a href="products" class="btn">view more</a>
            </div>

            <div class="col-5">
                <img class="img mb-5" src="assets/img/store/bg_1.jpg" style="border-radius: 50%;" width="300px"
                    height="200px">
            </div>

        </div>

        <div class="categories">

            <div class="small-container">
                <div class="row">
                    <div class="col-3">
                        <img src="assets/img/store/fut_bg.jpg" title="football" height="150px">
                    </div>
                    <div class="col-3">
                        <img src="assets/img/store/bask_bg.jpg" title="basketball" height="150px">
                    </div>
                    <div class="col-3">
                        <img src="assets/img/store/tennis_bg.jpg" title="tennis" height="150px">
                    </div>
                </div>
            </div>

        </div>

        <div class="samll-container">
            <h2 class="tittle">Accessories</h2>

            <div class="row">

                <div class="col-4">
                    <img src="assets/img/store/swimware_bg.jpg" height="180px" alt="swimware">
                    <h4>swimware</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>

                <div class="col-4">
                    <img src="assets/img/store/running_bg.webp" height="180px" alt="sportsware">
                    <h4>sportsware</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="col-4">
                    <img src="assets/img/store/protective_bg.jpg" height="180px" alt="sportsware">
                    <h4>protective gear</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                </div>

                <div class="col-4">
                    <img src="assets/img/store/skinware_bg.webp" height="180px" alt="sportsware">
                    <h4>skinware</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>

            </div>


            <h2 class="tittle mt-5">Featured Products</h2>

            <div class="row">
                <div class="col-4">
                    <img src="assets/img/store/mercurial_bg.jpg" height="180px" alt="sportsware">
                    <h4>Nike Mercurial</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>$189.99</p>
                </div>

                <div class="col-4">
                    <img src="assets/img/store/jordan_bg.jpg" height="180px" alt="sportsware">
                    <h4>Air Jordan</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                    <p>$150</p>
                </div>
                <div class="col-4">
                    <img src="assets/img/store/nba_bg.jpg" height="180px" alt="sportsware">
                    <h4>Brooklyn Jersey</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>

                    </div>
                    <p>$120.68</p>
                </div>
                <div class="col-4">
                    <img src="assets/img/store/fcb_bg.jpg" height="180px" alt="sportsware">
                    <h4>FC Barcelona Home Kit</h4>
                    <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>

                    </div>
                    <p>$90.55</p>
                </div>
            </div>
        </div>


        <div class="footer text-center">

            <h5>Copyright by nex-gen</h5>

        </div>

</body>

</html>