<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>

    <link rel="stylesheet" href="assets/css/style-store.css">

    <link rel="icon" href="assets/img/logo.png">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>

    <div class="navbar bg-dark px-3">
        <div><img src="assets/img/brand_logo.png" alt="" width="40px" /></div>
        <div>
            <div class="navbar-nav">
                <a class="nav-item nav-link text-light" href="/account">Back</a>
            </div>
        </div>
    </div>

    <div class="container">
        <header>
            <div>
                <marquee direction="left" style="margin-top: 7px; margin-bottom: 7px;">
                    Hi! welcome to the store 33% OFF on first three purchases
                </marquee>
            </div>

            <div>

        </header>

        <div id="cart" class="carousel slide" data-interval="2000" data-ride="carousel">

            <ul class="carousel-indicators">
                <li data-target="#cart" data-slide-to="0" class="active"></li>
                <li data-target="#cart" data-slide-to="1"></li>
                <li data-target="#cart" data-slide-to="2"></li>
                <li data-target="#cart" data-slide-to="3"></li>

            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner ">
                <div class="carousel-item active">
                    <img class="d-block mx-auto" src="assets/img/store/football_carousel.jpeg"
                        style="width: 90%; height: 450px; margin-top: 10px;" alt="Football">
                </div>
                <div class="carousel-item">
                    <img class="d-block mx-auto" src="assets/img/store/cricket_carousel.jpg"
                        style="width: 90%; height: 450px; margin-top: 10px;" alt="Cricket">
                </div>
                <div class="carousel-item">
                    <img class="d-block mx-auto" src="assets/img/store/golf_carousel.jpeg"
                        style="width: 90%; height: 450px; margin-top: 10px;" alt="Golf">
                </div>
                <div class="carousel-item">
                    <img class="d-block mx-auto" src="assets/img/store/baseball_carousel.jpg"
                        style="width: 90%; height: 450px; margin-top: 10px;" alt="Baseball">
                </div>
            </div>

            <!-- Controls for previous and next images -->
            <a class="carousel-control-prev" href="#cart" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#cart" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <!-- Products -->
        <div id="items" class="items">
            <div class="row" style="margin-top: 10%;">

                <div class="col-6" style="text-align: center;">

                    <a href="#"><img class="cart" src="assets/img/store/baseball bat.jpeg" height="50%" width="70%"><br>
                        Baseball Bat</a>
                    <br><br>

                    <button class="btn btn-success" onclick="location.href='#'" style="text-align: center;">
                        Buy</button>

                    <button class="btn btn-warning" onclick="location.href='#'" style="text-align: center;">
                        Lease</button>
                </div>

                <div class="col-6" style="text-align: center;">

                    <a href="#"><img class="cart" src="assets/img/store/bat.jpg" height="50%" width="70%"><br> Cricket
                        Bat</a>
                    <br><br>

                    <button class="btn btn-success" onclick="location.href='#'" style="text-align: center;">
                        Buy</button>

                    <button class="btn btn-warning" onclick="location.href='#'" style="text-align: center;">
                        Lease</button>

                </div>
            </div>

            <div class="row">

                <div class="col-6" style="text-align: center;">

                    <a href="#"><img class="cart" src="assets/img/store/gloves.jpeg" height="50%" width="70%"><br>
                        Gloves</a>
                    <br><br>

                    <button class="btn btn-success" onclick="location.href='#'" style="text-align: center;">
                        Buy</button>

                    <button class="btn btn-warning" onclick="location.href='#'" style="text-align: center;">
                        Lease </button>

                </div>

                <div class="col-6" style="text-align: center;">

                    <a href="#"><img class="cart" src="assets/img/store/golf kit.jpg" height="50%" width="70%"><br>
                        Golf Kit</a>
                    <br><br>

                    <button class="btn btn-success" onclick="location.href='#'" style="text-align: center;">
                        Buy</button>

                    <button class="btn btn-warning" onclick="location.href='#'" style="text-align: center;">
                        Lease</button>

                </div>
            </div>

            <div class="row">

                <div class="col-6" style="text-align: center;">

                    <a href="#"><img class="cart" src="assets/img/store/shins.jpg" height="50%" width="70%"> <br>
                        Shins</a>
                    <br><br>

                    <button class="btn btn-success" onclick="location.href='#'" style="text-align: center;">
                        Buy</button>

                    <button class="btn btn-warning" onclick="location.href='#'" style="text-align: center;">
                        Lease</button>

                </div>

                <div class="col-6" style="text-align: center;">

                    <a href="#"><img class="cart" src="assets/img/store/studs.jpg" height="50%" width="70%"><br>
                        Football Studs</a>
                    <br><br>

                    <button class="btn btn-success" onclick="location.href='#'" style="text-align: center;">
                        Buy</button>

                    <button class="btn btn-warning" onclick="location.href='#'" style="text-align: center;">
                        Lease</button>
                </div>
            </div>

        </div>
    </div>

</body>

</html>